body{
    background-color: #16181A;
}

h1,h2,h4,h5{
    color: #E1E1E1;
}

#timeseries-overlay{
    position:absolute;
}

.cluster{
    float:left;
    margin-right:5px;
    color:#E1E1E1;
    text-align: center;
    font-size:10px;
}

#timeseries-hover{
    display:none;
    position:absolute;
    width:200px;
    min-width:100px;
    background-color:white;
    border: 1px solid #FF9D8E;
    font-size:10px;
}

.transient-label{
    fill:#B16000;
    opacity: .8;
}

.timespan{
    fill:#037798;
    opacity: .7;
}

.plot-line{
     stroke:#E1E1E1;
     stroke-width: 1px;
 }

.yaxis,.xaxis{
    stroke:#E1E1E1;
    stroke-width: 1px;
}

.stdev{
    fill:#037798;
}
.mean{
    stroke:#FF9D8E;
    stroke-width:1px;
}

circle.hover{
    fill: #FF9D8E;
}
line.hover{
    stroke:#FF9D8E;
    stroke-width: 1px;
}

rect.cluster-border{
    stroke:#E1E1E1;
    stroke-width: 1;
    fill:none;

}
rect.cluster-border.active{
    stroke:#037798;
    stroke-width: 2;
}